.creation {
  margin-bottom: 184px;
}

.creation-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  .creation-title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .creation-button {
    text-transform: uppercase;
    letter-spacing: 0.31rem;
    background: transparent;
    padding: 12px 36px;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.1s ease-in;

    &:hover {
      background: black;
      color: #fff;
    }
  }
}

.creation-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;

  .creation-grid-item {
    cursor: pointer;
    position: relative;
    height: 450px;

    .creation-grid-item-img-container {
      position: absolute;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      z-index: -1;

      img {
        display: block;
        width: 100%;
      }

      .creation-grid-item-img-container-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, transparent 0%, black 100%);
        transition: all 0.1s ease-in-out;
      }
    }

    .creation-grid-item-title {
      position: absolute;
      bottom: 35px;
      left: 40px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      color: #fff;
    }

    &:hover {
      .creation-grid-item-img-container-mask {
        background: #fff;
        opacity: 0.6;
      }

      .creation-grid-item-title {
        color: black;
      }
    }
  }
}

@media only screen and (max-width: 610px) {

  .creation {
    margin-bottom: 96px;
  }
  
  .creation-header {
    flex-direction: column;
    margin-bottom: 48px;

    .creation-title {
      text-align: center;
      font-size: 32px;
      margin-bottom: 32px;
    }
  }

  .creation-grid {
    grid-template-columns: 1fr;

    .creation-grid-item {
      height: 240px;

      .creation-grid-item-title {
        position: absolute;
        font-size: 24px;
        bottom: 25px;
        left: 25px;
      }
    }
  }
}

@media only screen and (max-width: 550px) {
  .creation-grid {
    grid-template-columns: 1fr;

    .creation-grid-item {
      height: 120px;
    }
  }
}