.intro {
  position: relative;
  display: flex;
  width: 100%;
  margin: 160px 0 184px;
}

.intro-text-container {
  position: absolute;
  background-color: #fff;
  bottom: -90px;
  right: 0;
  width: 544px;
  padding: 90px 0 90px 95px;

  .intro-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 48px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .intro-desc {
    color: hsl(0, 0%, 41%);
    line-height: 1.6;
  }
}


@media only screen and (max-width: 980px) {
  .intro {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 96px 0;
  }

  .intro-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-bottom: 48px;

    img {
      display: block;
      width: 100%;
    }
  }

  .intro-text-container {
    position: relative;
    width: 100%;
    bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .intro-title {
      text-align: center;
    }

    .intro-desc {
      margin: 0 auto;
      width: 90%;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 550px) {

  .intro-text-container {
    .intro-title {
      font-size: 32px;
    }
  }
}