@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hero-section {
  position: relative;
  background-color: black;
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  width: 100%;
  height: 650px;
}

.hero-opacity {
  position: absolute;
  z-index: 2;
  opacity: 0.3;
  background: black;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 60px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav .nav-item {
  cursor: pointer;
  position: relative;
  margin-right: 30px;
}

.nav .nav-item::after {
  -webkit-transition: all 0.28s linear;
  transition: all 0.28s linear;
  position: absolute;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  content: '';
  height: 2px;
  width: 24px;
  background-color: #fff;
  opacity: 0;
}

.nav .nav-item:hover::after {
  opacity: 1;
}

.hero-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content span {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 72px;
  max-width: 652px;
  border: 2px solid #fff;
  padding: 41px 47px;
  line-height: 100%;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 160px 0;
}

.intro-text-container {
  position: absolute;
  background-color: #fff;
  bottom: -90px;
  right: 0;
  width: 544px;
  padding: 90px 0 90px 95px;
}

.intro-text-container .intro-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.intro-text-container .intro-desc {
  color: dimgray;
  line-height: 1.6;
}

.creation {
  margin-bottom: 160px;
}

.creation-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}

.creation-header .creation-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
}

.creation-header .creation-button {
  text-transform: uppercase;
  letter-spacing: 0.31rem;
  background: transparent;
  padding: 12px 36px;
  border: 2px solid black;
  cursor: pointer;
}

.creation-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(256px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
  gap: 30px;
}

.creation-grid .creation-grid-item {
  position: relative;
  height: 450px;
}

.creation-grid .creation-grid-item .creation-grid-item-img-container {
  position: absolute;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.creation-grid .creation-grid-item .creation-grid-item-img-container img {
  display: block;
  width: 100%;
}

.creation-grid .creation-grid-item .creation-grid-item-img-container .creation-grid-item-img-container-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

.creation-grid .creation-grid-item .creation-grid-item-title {
  position: absolute;
  bottom: 35px;
  left: 40px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: 'Alata', 'Roboto', 'Open Sans', sans-serif;
  font-size: 15px;
}

.container {
  width: 78%;
  margin: 0 auto;
  height: 100%;
}
/*# sourceMappingURL=styles.css.map */